* {
    margin: 0;
    padding: 0;
}

.Navegador {
    width: 100%;
    height: 90px;
    background-color: rgb(45, 82, 170);
    color: aliceblue;
}

#logo {
    position: absolute;
    top: 3px;
}
.avion{
    width: 10%;
    height: 5%;
    position: absolute;
    left: -35px;
    bottom: 17px;
    filter: grayscale(10%) brightness(150%) saturate(10%) opacity(100%);

}

.container-fluid {
    position: relative;
    top: 16px;
}

nav {
    margin-right: 250px;
    margin-left: 120px;
}

.nav-link {
    color: white;
    position: relative;
    left: 119px;
    bottom: -2px;

}

.nav-link:hover,
.custom-control-label:hover {
    color: rgb(255, 173, 50);
}

.form-switch .form-check-input {
    position: relative;
    left: 126px;
    bottom: -10px;
}

[data-theme="dark"] {
    background-color: #111 !important;
    color: rgb(253, 122, 0);
}

label {
    display: inline-block;
    position: relative;
    left: 124px;
    bottom: -10px;
}

.Carousel {
    width: 100%;
    height: 583px;
    font-size: 35px;

}

.carousel-caption {

    box-shadow: 20px, 15px, 7px black;

}

.pais,
.precio {
    text-shadow: 3px 2px 4px rgba(0,0,0,1);
}

.Buscador {
    width: 30%;
    height: 673px;
    float: left;
    background-color: blue;
}


.cards {
    position: relative;
    float: left;
    width: 70%;
    height: 673px;
    background: #ffffff;
}

.foto_tarjeta {
    width: 30%;
    height: 50%;
    float: left;

}
.city{
    float: left;
    text-align: center;
}

.tarjeta{
    width: 100%;
    max-width: 600px;
    height: 45%;
    margin: 3px;
    float: left;
    top: 20px;   



}

.btn-compra {
    background-color: #081f2d;
    border-radius: 5px 5px 5px 5px;
    border: 0.5px solid #ffffff;
    color: white;
    font-size: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    position: relative;
    bottom: 0px;
    text-decoration: none;
}

.btn-compra:hover {
    background-color: white;
    color: #081F2D;
    border-color: #081F2D;
    transition: 0.3s;
}

.Footer {
    width: 100%;
    height: 90px;
    background-color: coral;
    float: left;
}



